<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Detail</title>
</head>
<body>
    <h1>Student Detail</h1>
    <p><strong>Name:</strong> {{ student.name }}</p>
    <p><strong>Age:</strong> {{ student.age }}</p>
    <p><strong>Roll no:</strong> {{ student.roll_no }}</p>
    <p><strong>Department:</strong> {{ student.department }}</p>
    <br>

    <a href="{% url 'student_list' %}">Back to Student List</a>
</body>
</html>